* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f9f9f9;
    display: flex;
    min-height: 100vh;
}

.Sidebar {
    width: 250px;
    max-width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100%;
    position: fixed;
    padding: 50px 0;
}
.Sidebar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    transition: 0.3s;
    border-left: 4px;
    margin-bottom: 25px;
    margin-top: 10%;
}

.Sidebar a:hover {
    background-color: #34495e;
    border-left: 4px solid skyblue;
}

form {
    margin-left: 270px;
    padding: 30px;
    width: calc(100% - 300px);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    margin-top: 40px;
    margin-right: 20px;

}

.Encapsulate {
    margin: 0 auto;
    max-width: 700px;
    text-align: left;
}

.Name_Bar, .Price_Bar, .Dosage_Bar, .Type_Bar, .Company_Bar, .Way_Bar, .Image_Bar, .Ingredients_Bar, .Indication_Bar, .Pharmacology_Bar, .Dosage_Administration_Bar, .Interaction_Bar, .Contradictions_Bar, .Side_Effects_Bar, .Pregnancy_Lactation_Bar, .Precaution_Bar, .Special_Populations_Bar, .Overdose_Bar, .Storage_Conditions_Bar,
.Company_Name_Bar, .Company_Address_Bar, .Company_Contact_Bar, 
.Type_Details_Bar, .Type_Name_Bar, 
.Way_Name_Bar, .Way_Logo_Bar{
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f7f7f7;
}

textarea {
    min-height: 80px;
    resize: vertical;
}

.Submit_Button{
    padding: 12px 25px;
    font-size: 16px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Submit_Button:hover {
    background-color: #34495e;
}