body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.Header {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;

}

/* Header Styles */
header {
    background: linear-gradient(90deg, rgb(107, 182, 211), #489ead);
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

header h1 {
    font-size: 20px;
    margin: 0;
}

nav ul {
    margin: 0 10px;
}

nav ul a {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid transparent;
}

nav ul a:hover {
    background-color: #ffdd57;
    color: #3f4034;
    transform: translateY(-2px);
    border-color: white;
}



/*Sort Stuff*/
.sort-buttons {
    margin: 45px;
}

.sort-buttons a {
    text-decoration: none;
    color: black;
    padding: 4px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block; 
}

.sort-buttons a.active {
    background-color: #007bff;
    color: white;
}

.sort-buttons a.reset {
    background-color: #dc3545;
    color: white;
}

/* Box Stuff */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 1500px;
    margin: 50px auto;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Inside The Box Stuff */
a{
    text-decoration: none;
}


.company-box {
    background-color: rgb(242, 241, 241);
    color: black;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, transform 0.5s;
}

.company-box:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.Header {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;

}


/*Sort Stuff*/
.sort-buttons {
    margin: 45px;
}

.sort-buttons a {
    text-decoration: none;
    color: black;
    padding: 4px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block; 
}

.sort-buttons a.active {
    background-color: #007bff;
    color: white;
}

.sort-buttons a.reset {
    background-color: #dc3545;
    color: white;
}

/* Box Stuff */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 1500px;
    margin: 50px auto;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Inside The Box Stuff */
.company-box {
    background-color: white;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, transform 0.5s;
}

.company-box:hover {
    background-color: skyblue;
    color: white;
    transform: scale(1.05);
}

.company-name{
    font-size: 20px;
    margin-left: 2%;
}
.medicine-count{
    font-size: 16px;
    margin-left: 2%;
}

.company-details {
    text-decoration: none; 
    color: black; 
    display: block;
    
}


/* Pagination stuff */
.pagination {
    margin: 20px 0;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination a:not(.active):hover { 
    background-color: #ddd;
}

/* Who knew you could use 'not' in css. Wild */

