* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f9f9f9;
    display: flex;
    min-height: 100vh;
}

.Sidebar {
    width: 250px;
    max-width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100%;
    position: fixed;
    padding: 50px 0;
}
.Sidebar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    transition: 0.3s;
    border-left: 4px;
    margin-bottom: 25px;
    margin-top: 10%;
}

.Sidebar a:hover {
    background-color: #34495e;
    border-left: 4px solid skyblue;
}
.Main_Content{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 100px;
    margin-left: 250px;
    padding: 100px;
    justify-items: center;
    align-items: center;
    margin: 40px auto;
    max-width: 1000px;
}

.medicines_button, .companies_button, .types_button, .ways_button{
    padding: 20px 50px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.types_button, .ways_button{
    margin-bottom: 100px;
}

.companies_button, .ways_button{
    margin-left: 50px;
}

.medicines_button{ border-top: 6px solid #e74c3c; }
.companies_button{ border-top: 6px solid #3498db; }
.types_button{ border-top: 6px solid #9b59b6; }
.ways_button{ border-top: 6px solid #2ecc71; }

.medicines_button:hover {
    background-color: #e74c3c;
    transform: scale(1.1);
}

.companies_button:hover{
    background-color: #3498db;
    transform: scale(1.1);
}

.types_button:hover{
    background-color: #9b59b6;
    transform: scale(1.1);
}
.ways_button:hover{
    background-color: #2ecc71;
    transform: scale(1.1);
}